<!-- ヘッダーのエクスポート -->
{% extends 'header.html' %}

{% block title %}
<h1 class="text-center mt-4">Create Account</h1>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card p-4 shadow-sm">
    <h2 class="text-center mb-4">サインアップ</h2>
    <form method="POST" class="needs-validation" novalidate>
      {% csrf_token %}
  
      {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
      {% endif %}
  
      {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
  
        {% if field.help_text %}
        <div class="form-text">{{ field.help_text | linebreaksbr }}</div>
        {% endif %}
  
        {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
        {% endif %}
      </div>
      {% endfor %}
  
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="rememberMe">
        <label class="form-check-label" for="rememberMe">記憶する</label>
      </div>
  
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-outline-dark">サインアップ</button>
        <a href="{% url 'account:shop' %}" class="btn btn-outline-secondary">戻る</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}